

  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Antoine Staumont</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">À propos</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Compétences</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Expériences</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/banniere.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="assets/antoine.jpg" alt="Image"/></a></div>
          <div class="h2 title">Antoine Staumont</div>
          <p class="category text-white">Chirurgien-Dentiste, Développeur Web,  Entrepreneur</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Me contacter</a><a class="btn btn-primary" href="https://res.cloudinary.com/dz83jh064/image/upload/v1644835421/CV_Antoine_STAUMONT_fwwsj8.pdf" target="_blanck" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"> Mon CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" target= "_blanck" href="https://www.facebook.com/antoine.staumont/" rel="tooltip" title="Suivez moi sur Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target= "_blanck" href="https://www.linkedin.com/in/antoine-staumont-83133062/" rel="tooltip" title="Suivez moi sur Linkedin"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">À propos de moi</div>
            <p>Bonjour ! Je suis Antoine Staumont, docteur en chirurgie-dentaire, développeur web et entrepreneur dans l'âme.</p>
            <p>De nature curieuse, je suis un "couteau-suisse" possédant une certaine expérience dans l'entrepreneuriat de la santé dentaire , du social ainsi que du handicap. Je recherche une nouvelle aventure qui a du sens et dans laquelle je m'investirai agilement et consciencieusement.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Mes Informations</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Âge:</strong></div>
              <div class="col-sm-8">45</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">staumont.antoine@me.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Téléphone:</strong></div>
              <div class="col-sm-8">+33-660-954-702</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Adresse:</strong></div>
              <div class="col-sm-8">277, Avenue Jean Garaialde 62152 HARDELOT, FRANCE</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Mes compétences professionnelles</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Direction</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Odontologie</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Management agile d'équipe</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Conception de sites web</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Community Manager</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Coordination de soins</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Mon Portfolio</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-university" aria-hidden="true"></i></a></li>
            <%#<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera" aria-hidden="true"></i></a></li>#%>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="assets/Medentraid.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Médentraid</div>
                      <p>Founder & développement du site</p>
                    </figcaption>
                  </figure></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="assets/Dentoncampus.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Dentoncampus</div>
                      <p>Founder</p>
                    </figcaption>
                  </figure></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="assets/uppiz.jpeg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Uppiz</div>
                      <p>CTO</p>
                    </figcaption>
                  </figure></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="assets/Dentacoop.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Dentacoop</div>
                      <p>Founder</p>
                    </figcaption>
                  </figure></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="graphic-design" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.eurasante.com" target="_blanck">
                  <figure class="cc-effect"><img src="assets/eurasante.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Eurasanté</div>
                      <p>Bio Incubateur</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.euratechnologies.com/" target="_blanck">
                  <figure class="cc-effect"><img src="assets/euratechnologies.jpeg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Euratechnologie Lille</div>
                      <p>Incubateur de l'innovation</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.lewagon.com/fr/" target="_blanck">
                  <figure class="cc-effect"><img src="assets/lewagon.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">LeWagon</div>
                      <p>Bootcamp de formation Web</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="http://chirdent.univ-lille.fr" target="_blanck">
                  <figure class="cc-effect"><img src="assets/lille2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Faculté d'odontologie Lille</div>
                      <p>Formation au doctorat de chirurgien-dentiste</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Mes expériences professionnelles</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2017-Aujourd'hui</p>
            <div class="h5">Entrepreneuriat</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Porteur de projets freelance</div>
            <p>Diverses projets en rapport avec mes idées et mes combats. Médentraid qui permet aux professionnels de santé en situation de burnout de converser entre eux en toute sécurité par le biais d'une plateforme web qui leur ressemble. Dentoncampus qui est un laboratoire d'innovation dentaire permettant de penser différemment notre exercice de demain avec tous les acteurs du dentaire français. Dentoncampus rassemblera également 10 autres projets innovants dans le dentaire.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2020-2021</p>
            <div class="h5">Dentacoop- DCP Groupe</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">CEO & Founder</div>
            <p>Dentacoop est la première coopérative dentaire française de vente de materiels et fournitures. Une volonté néée d'un constat simple: la volonté des chirurgiens-dentistes de se fournir en toute indépendance et transparence.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2018</p>
            <div class="h5">Autisme Info Service</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">CTO</div>
            <p>La mission d’Autisme Info Service est de fournir des informations générales et actualisées sur le trouble du spectre de l’autisme (TSA), relayer les recommandations relatives de la HAS, soutenir les personnes concernées et leur entourage et orienter les usagers vers les services les plus adaptés à leurs besoins.<br>
Autisme Info Service s’adresse aux femmes et aux hommes autistes et à leur entourage, aux professionnels de santé, du social, aux encadrants… et plus globalement, à toute personne intéressée par l’autisme.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2018-2019</p>
            <div class="h5">UPPIZ</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">CTO</div>
            <p>UPPIZ est une plateforme qui facilite l’accès aux loisirs des personnes en situation de handicap. Nous recensons les activités (culture, sports, nature, sorties, etc.) adaptées aux besoins spécifiques de chacun. Pour permettre réellement la réalisation de tous les projets, nous mettons en relation des professionnels de l’accompagnement des personnes en situation de handicap selon les besoins de nos utilisateurs. Notre volonté est d’intégrer des services innovants (mobilité, aide techniques et médicales, formation, etc.) afin de permettre à chacun de vivre réellement leurs projets.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2003-2016</p>
            <div class="h5">Chirurgien-Dentiste</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Praticien Titulaire (Samer 62830)</div>
            <p>Cabinet dentaire de campagne bien équipé proposant empreinte optique et CFAO de pièces prothétiques en céramique. Exercice omnipratique.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Mes formations</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2022</p>
            <div class="h5">Google Skillshop</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Certification Google Ads pour la publicité sur le Réseau Display</div>
            <p class="category">Google</p>
            <p>Google valide la maîtrise des principes de base du développement et de l'optimisation de campagnes efficaces diffusées sur le Réseau Display de Google.<br>
            Identifiant d'achèvement : 103179413 Expire le : 18 janvier 2023.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017</p>
            <div class="h5">Euratechnologie Lille</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Formation Dev-Web Full Stack Ruby on Rails</div>
            <p class="category">LeWagon Lille batch #108</p>
            <p>À travers des formations intensives en Développement Web et en Data Science,
Le Wagon enseigne les compétences indispensables d'aujourd'hui et de demain.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>1996-2003</p>
            <div class="h5">Université de Lille II</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Doctorat en chirurgie-dentaire</div>
            <p class="category">Faculté d'odontologie Lille</p>
            <p>La faculté de chirurgie dentaire de Lille compte environ 650 étudiants en formation initiale ou continue, 75 enseignants, une trentaine de personnels techniques et administratifs et 1 équipe de recherche. Elle prépare au diplôme d’État de docteur en chirurgie dentaire et à 4 diplômes universitaires, 2 attestations universitaires et 2 certificats d’études supérieures.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="reference">
  <div class="container cc-reference">
    <div class="h4 mb-4 text-center title">Quelques Références</div>
    <div class="card" data-aos="zoom-in">
      <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
          <li data-target="#cc-Indicators" data-slide-to="1"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="assets/thomas.png" alt="Image"/>
                <div class="h5 pt-2">Thomas BOUQUET</div>
                <p class="category">
Délégué National Handicap Croix-Rouge</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="assets/reference-image-2.jpg" alt="Image"/>
                <div class="h5 pt-2">Pascal PILLEGAND</div>
                <p class="category">CEO / The Walking Nerds Agence Web Paris</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('assets/contact.jpg')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Me contacter</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="https://formspree.io/f/xjvlwvny" method="POST">
                      <div class="p pb-3"><strong>N'hésitez pas à remplir ce formulaire </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Nom-Prénom" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Sujet" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Votre message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Envoyer</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Adresse </strong></p>
                    <p class="pb-2">277 Avenue Jean Garaialde 62152 HARDELOT, FRANCE</p>
                    <p class="mb-0"><strong>Téléphone</strong></p>
                    <p class="pb-2">+33-660-954-702</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>staumont.antoine@me.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" target= "_blanck" href="https://www.facebook.com/antoine.staumont/"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-linkedin btn btn-link " target= "_blanck" href="https://www.linkedin.com/in/antoine-staumont-83133062/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Antoine STAUMONT 2022</div>
      <div class="text-center text-muted">
        <%#
          <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>

          #%>
      </div>
    </footer>

  </body>

